---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
ColumnLimit: 80
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
AlignTrailingComments: false
SortIncludes: false
ReflowComments: false
...
